*{
    box-sizing: border-box;
}

.calculator{
    border:1px solid black;
    display: inline-block;
}

input{
    padding: 1em;
    font-size: 1.2 rem;
    font-weight: bold;
    width: 100%;
    
}
table{
    text-align: center;
}
td{
    border: 1px solid orangered;
    
}
button{
    border: none;
    outline: none;
    box-shadow: 0 0 5px black;
    padding: 1.5rem;
    margin: 1.2rem;
}